.site-header{

    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
    .site-header__logo-link{
        svg{
            g{
                use{
                    fill: $color-main !important;
                }
            }
        }
        &.is-home{
            svg{
                g{
                    use{
                        fill: #fff !important;
                    }
                }
            }   
        }
    }
}

.action-bar, .action-bar__menu--main, .action-bar__menu--sub{
    background: $color-main;
}
.action-bar__menu--main{
    .action-bar__link{
        background: transparent;
    }
}

.js-sticky-action-bar--open .action-area{
    nav{
        height: 62px;
        ul{
            display: none;
        }
    }
}