.hero.slideshow-slideshow{
    max-height: 1100px;
}


.hero__controls{
    & > ul{
        display: none;
    }
}

.hero__content{
    text-shadow: none;
    &-centered{
        .hero__text-title, .hero__text-description{
            margin-bottom: 15px;
        }
        &.left-center{
            padding-left: 5%;
            text-align: left;
        }
        &.right-center{
            padding-right: 5%;
            text-align: right;
        }
    }
    .hero__text-description{
        color: #FFF;
    }
}

.hero__dots-wrapper {
    padding-right: 20px;
    justify-content: flex-end;
    .slick-dots{
        top: inherit;
        height: auto;
        background: transparent;
        li{
            width: 15px;
            height: 15px;
            margin: 0 6px;
            .hero__dots{
                width: 13px;
                height: 13px;
                &:before{
                    width: 13px;
                    height: 13px;
                }
            }
            &.slick-active{
                a{
                    &:before{
                        top: -6px;
                    }
                }
            }
        }
    }
}

.hero__controls-icon{
    display: none;
}