body{
    background: #FFF;
    color: $color-text;
    font-family: $font-main;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    text-shadow: none;
    color: $color-main;
    font-family: $font-alt;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon:before{
    font-family: 'icons2';
}