<div class="bg-primary">

  {% section 'feature-row-full' %}

  <div class="page-width page-container">
    <div class="rte rte--indented-images">
      <div class="page_intro">
        <p>Sabemos que no siempre es fácil comprar ropa en línea y que las tallas pueden variar entre fits (cortes) y marcas. </p>
        <p>Para facilitar el proceso y que tengas confianza de que te vayan a quedar las prendas, te recomendamos que tomes una cinta métrica y midas la ropa que mejor te quede para después comparar las medidas con la tabla de medidas de cada prenda.  Toma en cuenta que puede haber una variación en las medidas de tus jeans favoritos de hace 15 años  por uso/lavado y que estas no sean iguales al mismo modelo nuevo. </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="page-width--wide page-container">
    <!-- <h2 style="text-align: center;">JEANS / PANTALONES</h2> -->
    <div class="list_steps">
      <div class="guide_step horizontal" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/IMG-3998.gif?v=1584176644" alt="Mide tus Jeans">
        <div class="guide_step__instructions">
          <p class="title"><strong>Cintura:</strong></p>
          <p>Estira tus jeans en una superficie plana y mídelos horizontalmente de un extremo a otro y después <strong>multiplícalo por 2</strong></p>
        </div>
      </div>

      <div class="guide_step" data-aos="fade-up">
        <div class="guide_step__instructions">
          <p><strong>Cadera:</strong></p>
          <p>Toma una regla y mide 7.5 cms del punto de entrepierna hacia arriba</p>
          <p><strong>A partir de ese punto</strong> mide horizontalmente de un extremo a otro. </p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/IMG-4012.gif?v=1584177029" alt="Mide tus Jeans">
      </div>

      <div class="guide_step" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/paso3.gif?v=1584177556" alt="Mide tus Jeans">
        <div class="guide_step__instructions">
          <p class="title"><strong>Frente:</strong></p>
          <p>Mide de forma vertical desde el borde de la parte superior de la cintura hacia la costura de entrepierna.</p>
        </div>
      </div>

      <div class="guide_step horizontal" data-aos="fade-up">
        <div class="guide_step__instructions">
          <p class="title"><strong>Parte trasera:</strong></p>
          <p>Mide de forma vertical desde el borde de la parte superior trasera hasta la costura de entrepierna.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/paso4.gif?v=1584177781" alt="Mide tus Jeans">
      </div>

      <div class="guide_step horizontal" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/paso5.gif?v=1584178097" alt="Mide tus Jeans">
        <div class="guide_step__instructions">
          <p class="title"><strong>Muslo:</strong></p>
          <p>Mide de forma horizontal desde la costura de entrepierna hacia el extremo de la pierna.</p>
        </div>
      </div>

      <div class="guide_step" data-aos="fade-up">
        <div class="guide_step__instructions">
          <p class="title"><strong>Rodilla:</strong></p>
          <p>Cuenta 34 cms desde la costura de la entrepierna hacia abajo por la costura interna de tus jeans, <strong>en ese punto</strong> haz una medición horizontal de extremo a extremo.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/rodilla.gif?v=1584178577" alt="Mide tus Jeans">
      </div>

      <div class="guide_step" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/dobladillo.gif?v=1584178693" alt="Mide tus Jeans">
        <div class="guide_step__instructions">
          <p class="title"><strong>Dobladillo:</strong></p>
          <p>Mide horizontalmente el dobladillo de un extremo al otro</p>
        </div>
      </div>

      <div class="guide_step" data-aos="fade-up">
        <div class="guide_step__instructions">
          <p class="title"><strong>Entrepierna:</strong></p>
          <p>Mide de forma vertical desde la costura de entrepierna hasta el final de la pierna. Esta es la medida del largo de la pierna.</p>
          <p>En el caso de la mezclilla <strong>Selvedge</strong>, muchas veces la gente prefiere no hacer ajustes en el dobladillo pues hay varias maneras de doblar los jeans que <strong>se ven muy cool</strong>.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/ultimopaso.gif?v=1584178923" alt="Mide tus Jeans">
      </div>
    </div>

    <!-- <h2>CAMISAS, CHAMARRAS, SWEATERS, SUDADERAS ETC…</h2>
	•	Pecho: Mide de forma horizontal de un extremo al otro a la altura del pecho justo en la costura debajo de la axila y multiplícalo por 2 (foto 1)
	•	Hombros: Mide horizontalmente de un extremo al otro a la altura de la costura del hombro (foto 2)
	•	Cintura: Mide de un extremo al otro de forma horizontal la prenda en su parte más angosta (foto 3)
	•	Largo: Mide Verticalmente desde el collar hasta el borde de hasta abajo (foto 4)
	•	Manga: Mide Verticalmente desde la costura del hombro hasta el final de la manga (foto 5) -->
  </div>
</div>