<!-- /templates/page.contact.liquid -->
<div class="bg-primary">
  <div class="page-width--wide page-container">
      <div class="faqs">
        <div class="faqs__title custom_page_title">Cuidados</div> 

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>1</span> ¿Qué es la Mezclilla/Denim?:
          </div>
          <div class="faqs__single__question">
            Es el nombre de la tela con la que se hacen los jeans en donde los hilos de urdimbre son teñidos en color índigo y los hilos de trama se mantuvieron en su color natural y esto es precisamente lo que hace que tus jeans tengan la capacidad de desgastarse en distintos tonos según el uso y lavado que le des. 
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>2</span> ¿Qué son los Honeycombs y los Whiskers?
          </div>
          <div class="faqs__single__question">
            Se refieren a los desgastes “fades” que se producen detrás de las rodillas. Estos “fades” son causados por el desgaste del algodón resultado del uso. Los whiskers son las rayas horizontales “fades”  que se presentan en tus jeans después de uso continuo. Estos se van desarrollando en la parte delantera, alrededor del zipper, rodillas y muslos.  
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>3</span> ¿Qué es el Indigo?
          </div>
          <div class="faqs__single__question">
            El color índigo fue denominado después del colorante índigo usado para el denim el cual se obtenía originalmente de la planta Indigofera tinctoria. Las hojas de la planta se dejan secar iniciando un proceso de descomposición el cual dura aproximadamente 100 días. Esto produce una composta de sukumo a la cual posteriormente se le añade agua tibia junto con otros ingredientes y se deja fermentar. Esta fermentación genera una espuma la cual puede ser utilizada para teñir el algodón.  La solidez del color y su capacidad de desgaste es lo que hace que vaya cambiando el azul de tus jeans después de uso constante y lavado. 
          </div>
        </div>

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>4</span> ¿Qué es la Mezclilla Selvedge?
          </div>
          <div class="faqs__single__question">
            <p>También conocida como Selvage o  Self-Edge. Se refiere al borde vertical de un tejido de mezclilla que evita que el borde del dril de algodón se deshilache (básicamente la técnica que se utilizó para tejer el denim). Este borde/tipo de mezclilla se reconoce a simple vista dando vuelta a los jeans y viendo una franja de color blanco y otra generalmente roja o azul.  Esta mezclilla es producida en antiguos telares de lanzadera de entre 28-30 pulgadas. </p>
            <p><a class="btn" href="/collections/selvedge">Ver productos Selvedge</a></p>
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>5</span> Raw Denim
          </div>
          <div class="faqs__single__question">
              Se refiere a Denim sin lavar. La tela que se usó para estas prendas no ha pasado por ningún proceso de lavado, rotura o envejecimiento, se encuentra en un estado “crudo”.  Al principio el algodón se siente algo rígido y tiende a encoger después del primer lavado. 
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>6</span> ¿Por qué están “duros” mis jeans?
          </div>
          <div class="faqs__single__question">
            Esta pregunta la escuchamos todo el tiempo. Mucha de la mezclilla con la que trabajamos en Casa Denim es japonesa. Esto quiere decir que se sigue haciendo sobre telares de lanzadera y aparte de teñir el algodón con el Indigo, la tela no pasa por ningún proceso industrial. Se encuentra en su estado natural. Esta “dureza” significa que tus jeans son mucho más resistentes que los otros y te prometemos que se ablandarán en cuantos empieces a usarlos. 
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>7</span> Sanforización
          </div>
          <div class="faqs__single__question">
            Este es un proceso de pre-encogimiento de la tela para limitar variaciones en la talla de tus jeans  después del primer lavado. La mayoría de las prendas que tenemos en Casa Denim fueron creadas con mezclilla previamente sanforizada. 
          </div>
        </div>
      </div>
  </div>
</div>
 
