<!-- /templates/page.contact.liquid -->
<div class="bg-cream">
  <div class="page-width--wide page-container">
    <div class="contact">
      <div class="contact__image" style="background-image: url('https://instagram.fmex7-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/87232718_1103548383322601_6325964607813086353_n.jpg?_nc_ht=instagram.fmex7-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=nMDHnrKUe08AX8P_jOw&oh=0fab1c0e7cbc9a065e38d45a239ce9e0&oe=5EA030AB')">

      </div>
      <div class="contact__form">
        <div class="contact-form form-vertical">

          <h1>{{ page.title }}</h1>

          <div>
            {{ page.content }}
          </div>


          <ul class="list--inline social-icons social-icons--footer">
            <li>
              <a href="https://www.facebook.com/CasaDenimMx" title="casadenim on Facebook">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="visually-hidden">Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/casadenimmx/" title="casadenim on Instagram">
                <span class="icon icon-instagram" aria-hidden="true"></span>
                <span class="visually-hidden">Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>