<div class="bg-primary">
  <div class="page-width--wide page-container">
      <div class="faqs">
        <div class="faqs__title custom_page_title">Preguntas Frecuentes</div> 

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>1</span> ¿En dónde vienen las tallas?
          </div>
          <div class="faqs__single__question">
            Cada producto tiene una tabla de tallas y medidas. Te sugerimos consultar esta tabla y también la sección <strong>“Mide tu ropa”</strong> para estar seguros.
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>2</span> ¿Aceptan devoluciones?
          </div>
          <div class="faqs__single__question">
            No aceptamos devoluciones pero si cambios físicos (no te quedaron). Tienes 5 días para hacernos cualquier comentario a (<a href="mailto:casadenim@casadenim.com">casadenim@casadenim.com</a>) y la prenda tiene que estar con etiquetas y en perfecto estado (sin olores, roturas, encogidos etc).  Posteriormente nos pondremos en contacto contigo para ver si tenemos la talla y realizar el cambio una vez hayamos recibido la prenda en perfecto estado.
          </div>
        </div>
        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>3</span> ¿Que talla debo de pedir?
          </div>
          <div class="faqs__single__question">
            Revisa punto 1.
          </div>
        </div>

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>4</span> Cuáles son sus formas de pago
          </div>
          <div class="faqs__single__question">
            Aceptamos Tárjetas de Debito, Crédito, Paypal y pagos en tiendas OXXO.
          </div>
        </div>

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>5</span> Cuidados
          </div>
          <div class="faqs__single__question">
            <p>La mezclilla es de las pocas telas que se ven mejor con el uso y el paso del tiempo. Nosotros no lavamos nuestros jeans lo que resalta los contrastes que se van formando en cada prenda especialmente si es mezclilla Selvedge japonesa (recomendamos un uso mínimo de 6 meses antes de su primer lavada)</p>
            <p>Si de plano ya no aguantes (olor), échalos al congelador un par de días y verás que este desaparece. Y si no hay de otra (se te cayeron los chilaquiles encima), remójalos en una tina con agua fría y trata de que se sequen al aire libre.  </p>
            <p>Échale un ojo a estos videos:</p>
            <p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/RK9CBJlXW14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
            <p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/_uP_XEUGc2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
          </div>
        </div>

        <div class="faqs__single">
          <div class="faqs__single__title">
            <span>6</span> Envíos
          </div>
          <div class="faqs__single__question">
            <p>Todos los envíos salen de nuestras oficinas en la Ciudad de México. El envío es por FEDEX o UPS y tiene un costo de 250.00 MXN (el cual se suma a tu total al momento del checkout). La entrega calculamos que se da entre 48 y 96 horas. </p>
            <p>Todos nuestro precios incluyen el 16% de IVA</p>
            <p>Cualquier otra duda escribenos a <a href="mailti:casadenim@casadenim.com">casadenim@casadenim.com</a></p>
          </div>
        </div>
      </div>
  </div>
</div>
